:root {
  --primary: #212121;
  --secondary:  #4B164C;

}

*{
  background-color: var(--primary);
  color: white;
  font-family: cursive;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu{
  display: flex;
  list-style: none;
  a{
    padding: 0 2em;
    text-decoration: none;
  }
}